.container {
  max-width: 90rem;
  margin: 0 auto;
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);
  flex:1;
}

.container--contact{
  flex: 1; /* prend l'espace restant */

  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-lg);
  
  background-color: var(--grey-700);
}

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-lg);
  
  background-color: var(--grey-700);
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: var(--spacing-xs);
}

.navbar-mobile{
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-xs);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-nav-mobile);
  backdrop-filter: blur(10px);
}

.navbar-mobile__list {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: var(--spacing-xs);
}

.hero {
  display: flex;
  align-items: center;
  gap: var(--spacing-xl);
}

.hero--animated {
  display: flex;
  align-items: center;
  min-height: 90vh
}

.hero__description {
  align-self: stretch;
}

.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--spacing-lg) var(--spacing-xl);
  gap: var(--spacing-md)
}

.section__projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--spacing-lg) var(--spacing-xl);
  gap: var(--spacing-md)
}

.section__title {
  align-self: stretch;
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.section__contact {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  align-items: center;
}

.projects__grid {
  display: grid;
  gap: var(--spacing-lg);
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  width: 100%;
}

.clients__grid{
  display: grid;
  gap: var(--spacing-sm);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 100%;
}

.clients__grid img{
  max-width: 100%;
  height: auto;
  opacity: 0.85;
}

.clients__grid img:hover{
  filter: grayscale(0);
  opacity: 1;
}

.author {
  align-self: stretch;
  text-align: right;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-lg) var(--spacing-lg);
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-sm) var(--spacing-sm);
  background-color: var(--grey-700);
  font-size: var(--font-size-caption);
}


.section__skillset {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  flex-wrap: wrap;
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);
}

.desc-projet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: var(--spacing-sm)
}

.media-projet {
  display: flex;
  padding: var(--spacing-lg) var(--spacing-xl);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-lg);

  background: var(--grey-100);
}

.media-projet img {
  max-width: 100%;
}

.mission-projet {
  display: flex;
  width: 15rem;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
}

.media-projet--mission {
  display: flex;
  max-width: 90rem;
  padding: var(--spacing-lg);
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: var(--spacing-lg);
  align-self: stretch;
  flex-wrap: wrap;

  background: var(--grey-100);
}