.option{
  padding: var(--spacing-sm);
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-button);
  letter-spacing: 0.1125rem;
  color:var(--grey-400);
}

.option:hover{
  border-bottom: 2px solid var(--on-bg);
  color:var(--on-bg);
}

.option--active{
  color: var(--on-bg);
  border-bottom: 2px solid var(--on-bg);
}

.option-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-sm) var(--spacing-sm);
  border: 0;
  border-radius: 1.5rem;
  font-size: 0.6rem;
  letter-spacing: 0.1125rem;
  font-weight: var(--font-weight-button);
  background: var(--grey-100);
  color: var(--on-bg);
}

.option-mobile--active{
  background: var(--on-bg);
  text-decoration: underline;
  color: #fff;
}