.skill-chip{
display: flex;
padding: var(--spacing-xs);
align-items: center;
gap: var(--spacing-xs);

border-radius: 0.5rem;
border: 1px solid var(--on-bg);

font-family: var(--font-caption);
font-size: 0.875rem;
color:var(--on-bg);
font-size: var(--font-size-caption);
}
